<head><link rel="stylesheet" href="/CSS/menu.css"></head>
<header>
<div class="menu">
    <div class="conteudo">
        <div class="logo">
        <img src="/IMG/logo.png" alt="logo-principal">
     </div>
    <div class="titulo"><h1>GIRAFFAS</h1></div>
    <div class="logo">
            <img src="/IMG/logo.png" alt="logo-principal">
    </div>
    </div>
    <section id="linha"></section>
        <nav>
            <ul>
                <li>INÍCIO</li>
                <li>CADASTRO</li>
            </ul>
        </nav>
    <section id="linha"></section>
    </div>
</header>