<head><link rel="stylesheet" href="/CSS/menu.css"></head>
<body>
    <header>
<div class="menu">
    <div class="conteudo">
        <div class="logo">
            <img src="/IMG/logo.png" alt="logo-principal">
        </div>
        <div class="titulo" onclick="window.location.href='/inicio'"><h1>GIRAFFAS</h1></div>
        <div class="logo">
                <img src="/IMG/logo.png" alt="logo-principal">
        </div>
    </div>
    <section id="linha"></section>
        <nav>
            <ul>
                <button class="button btn1" onclick="window.location.href='/inicio'"><li>INÍCIO</li></button>
                <div class="linha"></div>
                <button class="button btn2" onclick="window.location.href='/cadastro'"><li>CADASTRO</li></button>
            </ul>
        </nav>
    <section id="linha"></section>
</div>
</header>
</body>