<body>
    <h1> alterar estoque</h1>
    <form action="/estoque" method="post">
        <fieldset>
            <input type="text" name="nome" placeholder="nome">
            <input type="text" name="tipo" placeholder="tipo">
            <input type="text" name="setor" placeholder="setor">
            <textarea name="descricao" placeholder="descricao" id="teste" cols="30" rows="5"></textarea>
            <input type="submit" placeholder="enviar">
        </fieldset>
    </form>
</body>