<head><link rel="stylesheet" href="/CSS/produtos.css"></head>
<body>
    <h1>Selecione o tipo de cadastro</h1>
    <div class="selecao">
        <nav>
        <ul>
        <div class="girafa_esquerda">
                <img src="/IMG/girafa_esq.png" alt="">
        </div>
        <li><input type="button" class="botao" onclick="window.location.href='/cadastro/lanche'" value="novo lanche"></li>
        <li><input type="button" class="botao" onclick="window.location.href='/cadastro/estoque'" value="alterar estoque"></li>
        <div class="girafa_direita">
                <img src="/IMG/girafa.png" alt="">
        </div>
        </ul>
    </nav>
    </div>
</body>