<body>
    <h1>Selecione o tipo de cadastro</h1>
    <input type="button" onclick="window.location.href='/cadastro/lanche'" value="novo lanche">
    <input type="button" onclick="window.location.href='/cadastro/estoque'" value="alterar estoque">
</body>