<head><link rel="stylesheet" href="/CSS/produtos.css"></head>
<body>
    <h2>Cadastro concluido com sucesso!</h2>
    <button class="botao" onclick="window.location.href='/inicio'">Retornar ao início</button>
</body>