<body>
    <input type="button" onclick="window.location.href = 'javascript:history.back()'" value="Voltar">
    <h1>estoque</h1>

    {{#each estoque}}
        <fieldset>
            {{nome}}
            {{tipo}}
            {{setor}}
            {{descricao}}
        </fieldset>
    {{/each}}
</body>