<body>
    <input type="button" onclick="window.location.href = 'javascript:history.back()'" value="Voltar">
    <h1>estoque</h1>

    {{#each estoque}}
        <fieldset>
            <p>Nome: {{nome}}</p>
            <br>
            <p>Tipo: {{tipo}}</p>
            <br>
            <p>Setor: {{setor}}</p>
            <br>
            <p>Descriçoes{{descricao}}</p>
        </fieldset>
    {{/each}}
</body>