<body>
    <h1>estoque</h1>

    {{#each estoque}}
        <fieldset>
            {{nome}}
            {{tipo}}
            {{setor}}
            {{descricao}}
        </fieldset>
    {{/each}}
</body>