<body>
     <nav>
        <ul>
            <li><a href="/cadastro">cadastro</a></li>
            <li><a href="/inicio">inicio</a></li>
        </ul>
    </nav>
    <h1>giraffas</h1>
    <input type="button" onclick="window.location.href='/lanche'" value="lanches">
    <input type="button" onclick="window.location.href='/estoque'" value="estoque">
</body>