<body>
    <h1>giraffas</h1>
    <input type="button" onclick="window.location.href='/lanche'" value="lanches">
    <input type="button" onclick="window.location.href='/estoque'" value="estoque">
</body>