<head><link rel="stylesheet" href="/CSS/inicio.css"></head>
<body>
        <h1>Bem-vindo ao site do GIRAFFAS</h1>
        <div class="opcoes">
            <div class="girafa_esquerda">
                <img src="/IMG/girafa_esq.png" alt="">
            </div>
            <button class="botao" onclick="window.location.href='/lanche'">
                <div class="fundo">
                    <img src="/IMG/lanches.png" alt="Lanches">
                    <p>Lanches</p>
                </div>
            </button>
            <button class="botao" onclick="window.location.href='/estoque'">
                <div class="fundo">
                    <img src="/IMG/estoque.png" alt="Estoque">
                    <p>Estoque</p>
                </div>
            </button>
            <div class="girafa_direita">
                <img src="/IMG/girafa.png" alt="">
            </div>
        </div>
</body>