<head>
    <link rel="stylesheet" href="/CSS/login.css">
</head>

<body>
    <form action="/inicio" method="post">
        <h1>HORA DE FAZER O LOGIN</h1>
        <img src="../IMG/logo.png" alt="">
        <div>
            <section>
                <input type="text" name="login" placeholder="Usuário" id="login">
                <input type="password" name="senha" placeholder="Senha" id="senha">
            </section>
            {{#if confLogin}}
            <p id="campoErro">Usuário ou Senha incorreta</p>
            {{/if}}
            <button type="submit">Login</button>
            <button type="button" onclick="window.location.href = '/usuario'">Registrar-se</button>
        </div>
    </form>
</body>