<body>
    <h1> novo lanche</h1>

    <form action="/lanche" method="post">
        <fieldset>
            <input type="text" name="nome" placeholder="nome">
            <input type="text" name="preco" placeholder="preço">
            <input type="text" name="molho1" placeholder="molho 1">
            <input type="text" name="molho2" placeholder="molho 2">
            <textarea name="ingredientes" placeholder="ingredientes" id="teste" cols="30" rows="5"></textarea>
            <input type="submit" placeholder="enviar">
        </fieldset>
    </form>
</body>