<head>
    <link rel="stylesheet" href="/CSS/login.css">
</head>

<body>
    <form action="/" method="post">
        <h1>Hora de criar seu usuario</h1>
        <div>
            <input type="text" name="login" placeholder="Usuário" id="login">
            <input type="password" name="senha" placeholder="Senha" id="senha">
            <button type="submit">cadastrar</button>
            <input type="button" onclick="window.location.href = 'javascript:history.back()'" value="Voltar">
        </div>
    </form>
</body>