<head>
    <link rel="stylesheet" href="/CSS/login.css">
</head>

<body>
<div class="pagInicio">
       <h1 class="loadLogin"> Prontinho Giraffinha, Login validado com Sucesso :D</h1>
        <button type="button" onclick="window.location.href = '/inicio'">Página Inicial</button>
</div>
</body>