.menu{
    display: none;
}
#campoErro{
    color: red;
    font-weight: bold; 
}
body{
    margin-top: 0;
}
.loading{
    /* background: rgba(0,0,0,0.5); */
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}