@font-face {
    font-family: 'Roboto';
    src: url('/Fonts/RobotoCondensed-Regular.ttf');
}
*{
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}
body{
    margin-top: 350px;
    height: 2000px;
}
header{
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
}
.menu{
    background-color: rgb(255, 183, 28);
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.titulo{
    width: 100%;
    text-align: center;
}
.titulo h1{
    text-shadow: -2.5px -2.5px 0 #ffffff, 2.5px -2.5px 0 #ffffff, -2.5px 2.5px 0 #ffffff, 2.5px 2.5px 0 #ffffff;
    font-size: calc(20pt + 1vw);
    color: rgb(237, 139, 38);
}
.titulo h1:hover{
    color: rgba(255, 0, 0, 0.668);
    cursor: pointer;
    transition-timing-function: ease;
    transition-duration: 0.5s;
}
.conteudo{
    display: flex;
    align-items: center;
    width: 100%;
}
.logo{
    display: flex;
    justify-content: center;
    width: 100%;
}
.logo img{
    min-width: 65px;
    width: 10vw;
}
#linha{
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 3px;
}
.menu nav{
    width: 100%;
}
.menu nav ul{
    background-color: rgb(237, 139, 38);
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.menu nav ul li{
    color:  white;
    margin-top: 20px;
    margin-bottom: 20px;
    list-style: none;
    font-size: calc(10pt + 0.8vw);
}
.button{
    width: 100%;
    border: 0;
    background: none;
}
.button:hover{
    background-color: rgba(255, 0, 0, 0.668);
    cursor: pointer;
    transition-timing-function: ease;
    transition-duration: 1s;
}